.container {
  display: grid;
  gap: 10px;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-top: 200px;
}

.timer{
  width: 150px;
  justify-content: center;
  margin-top: 10px;
  display: grid;
  font-size: 16px;
  font-weight: 500;
 

}
